/* Default holat - desktop komponenti ko'rinadi */
.desktop {
    display: block;
  }
  
  .mobile {
    display: none;
  }
  
  /* 600px dan kichik ekranlar uchun mobile komponenti ko'rinadi */
  @media (max-width: 600px) {
    .desktop {
      display: none;
    }
  
    .mobile {
      display: block;
    }
  }
  