.container{
    width: 90%;
    margin: auto;
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}


.icon_nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
}

.icon_nav .icon{
    font-size: 50px;
}


.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}


.name{
    display: flex;
    flex-direction: column;
    margin: 10px;
    font-size: 20px;
}
.xxx{
    font-size: 70px;
}

.mobi-header{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}

.mobi-header h1{
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}


.mobi-my_skils{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobi-my_skils h3{ 
    color: white;
    margin: 10px;
}

.mobi-texnoligis{
    color: white;
}

.mobi-sotset a{
    margin: 7px;
    font-size: 23px;
    margin: 10px;
}

.mobi-sotset h3{
    color: white
}

.mobi-sotset{
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobi-my_photo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid blueviolet;
    margin-left: 90px;
}



/* ////////////////////////aboute////////////////////// */

.mobi-aboute{
    margin: 50px auto;

}

.mobi-aboute h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
}

.colors{
    background: linear-gradient(to right, rgb(0, 38, 255), rgb(172, 34, 53), rgb(30, 36, 18));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mobi-aboute p{
    color: white;
    text-transform: capitalize;
    font-family: 'Courier New', Courier, monospace;
}


  .mobi-my_projects h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* vvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv */

  .mobi-companies{
    display: flex;
    flex-direction: column;
    margin: 80px auto;
  }
  
.mobi-companies h1{
    display: flex;
    justify-content: center;
}

  .mobi-container_company{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobi-con{
    background-color: white;
    width: 30%;
    margin: auto;
    border-radius: 10px;
  }

  .mobi-con h2{
    display: flex;
    justify-content: center;
    align-items: center;
  }